In [75]:
1+2+5+65\
    +1+3+5+6\
        +4+4+7+0+6+\
            56

165

In [76]:
##single line comment

In [77]:
# comment

In [78]:
x=5+1;y=0+1;z=8-4

In [79]:
print(x,y,z)

6 1 4

In [80]:
age=100
type(age)
print(age)
print(type(age))

100
<class 'int'>

In [81]:
name='ram'

In [82]:
Name="MJ"

In [83]:
print(name,Name)

ram MJ

In [84]:
height=6.1
type(height)

float

In [85]:
print(height)
print(type(height))

6.1
<class 'float'>

In [86]:
ht=int(height)
type(ht)

int

In [87]:
print(type(ht))

<class 'int'>

In [88]:
age=27
type(age)

int

In [89]:
new_age=str(age)
type(new_age)

str

In [90]:
print("age is " + new_age)

age is 27

In [91]:
age=int(input("type age"))
print(age,type(age))
if age>30:
    print("Not a teen")
else :
    print("yes a old teen")
print("he is a man")

65 <class 'int'>
Not a teen
he is a man

In [92]:
age=int(input("type age"))
print(age,type(age))
if age>30:
    print("Not a teen")
else :
    print("yes a old teen")
print("he is a man")

23 <class 'int'>
yes a old teen
he is a man

In [93]:
name='ram'
age=25
height=5.8
is_employe=True


print(type(name))
print(type(age))
print(type(height))
print(type(is_employe))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [94]:
var=10

In [95]:
var='ram'

In [96]:
var=5.5

In [97]:
print(var)

5.5

In [98]:
num1=int(input("enter first number"))
num2=int(input("enter second number"))

sum=num1+num2
difference=num1-num2
product=num1*num2
quotient=num1/num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 62
Difference: 0
Product: 961
Quotient: 1.0

**operators**

In [99]:
x=True
y=True

result=x and y

print(result)

True

In [100]:
x=True
y=False

result=x and y

print(result)

False

In [101]:
x=True
y=True

result=x or y

print(result)

True

In [102]:
x=False
y=True

result=x or y

print(result)

True

In [103]:
x=True


result= not x

print(result)

False

In [104]:
age=int(input("Enter your age "))
has_license=True

if age>=18 and has_license:
    print("eligible to drive")
print("Not eligible to drive")

eligible to drive
Not eligible to drive

In [105]:
age=int(input("Enter your age "))
has_license=True

if age>=18 and has_license==True:
    print("eligible to drive")
print("Not eligible to drive")

eligible to drive
Not eligible to drive

In [106]:
exam_passed=False
project_completed=True
if exam_passed or project_completed:
    print("you are passed")
else:
    print("you are Failed")

you are passed

In [107]:
exam_passed=False
project_completed=False
if exam_passed or project_completed:
    print("you are passed")
else:
    print("you are Failed")

you are Failed

In [108]:
is_raining=False

if not is_raining:
    print("its not raining outside")
else:
    print("its raining outside")

its not raining outside

In [109]:
is_weekend=bool(input("is it weekend ? Enter True or False"))
is_holiday=bool(input("is holiday ? Enter True or False"))
is_homeworkleft=bool(input("is home work left ? Enter True or False"))

if is_weekend or is_holiday and not is_homeworkleft:
    print("Then go and do your home work idiot")
else:
    print("you can enjoy the holiday")

Then go and do your home work idiot

> > ```python
arithmatic opeartors
```

In [110]:
a=float(input("Enter a number"))
b=float(input("Enter a number"))

print(a+b)
print(a-b)
print(a*b)
print("division" + str(a/b))
print("floor division" + str(a//b))
print("exponential" + str(a**b))
print("modulus" + str(a%b))

146.0
-120.0
1729.0
division0.09774436090225563
floor division0.0
exponential1.4271376276164605e+148
modulus13.0